*{
box-sizing:border-box;
margin:0;
padding:0;
}

body{
font-family:system-ui;
background:#f4f4f4;
padding-bottom:90px;
}

/* HEADER */

header{
background:#111;
color:#fff;
padding:16px;
text-align:center;
font-weight:700;
}

/* PRODUCTOS */

#catalogo{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
gap:12px;
padding:12px;
}

.card{
background:#fff;
border-radius:12px;
padding:10px;
text-align:center;
}

.card img{
width:100%;
height:140px;
object-fit:contain;
}

/* BOTON FIJO */

.checkout-bar{
position:fixed;
bottom:0;
left:0;
right:0;
background:#111;
color:#fff;
padding:18px;
text-align:center;
font-size:20px;
font-weight:700;
cursor:pointer;
}

/* MODAL */

.modal{
position:fixed;
inset:0;
background:rgba(0,0,0,.6);
display:none;
align-items:center;
justify-content:center;
}

.modal-content{
background:#fff;
width:90%;
max-width:420px;
padding:20px;
border-radius:12px;
display:flex;
flex-direction:column;
gap:10px;
}

.modal.active{
display:flex;
}

button{
padding:12px;
border:none;
border-radius:8px;
background:#111;
color:#fff;
font-weight:600;
}
