img{
  max-width:100%;
  height:auto;
}

*{
box-sizing:border-box;
margin:0;
padding:0;
font-family:system-ui;
}

body{
background:#eaeaea;
}

.app{
max-width:420px;
margin:auto;
background:white;
min-height:100vh;
padding-bottom:140px;
}

/* HEADER */

.header{
position:sticky;
top:0;
z-index:1000;
text-align:center;
padding:10px;
background:#111;
color:white;
}

.logo{
max-width:80px;
margin:auto;
display:block;
}

/* PRODUCTS */

.container{
padding:12px;
}

.products{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:12px;
}

.card{
background:white;
border-radius:14px;
padding:10px;
overflow:hidden;
text-align:center;
box-shadow:0 4px 12px rgba(0,0,0,.08);
transition:.15s;
}

.card:active{
transform:scale(.96);
}

.card img{
width:100%;
max-width:100%;
height:120px;
object-fit:contain;
display:block;
}

.qty{
display:flex;
justify-content:center;
gap:10px;
margin-top:6px;
}

.qty button{
width:28px;
height:28px;
border:none;
border-radius:6px;
}

/* BARRA PAGO */

.subtotal-bar{
  position:fixed;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  width:100%;
  max-width:480px;
  background:#111;
  color:#fff;
  text-align:center;
  padding:16px;
  font-size:18px;
  cursor:pointer;
  z-index:1000;
}

.subtotal-bar:active{
  transform:translateX(-50%) scale(.97);
}

/* BOTONES */

.action-bar{
position:fixed;
bottom:0;
left:50%;
transform:translateX(-50%);

width:100%;
max-width:420px;

display:grid;
grid-template-columns:repeat(5,1fr);
gap:6px;
padding:8px;

background:white;
}

.btn-action{
border:none;
background:#f2f2f2;
border-radius:10px;
padding:6px;
font-size:11px;
}

.overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;

  background:rgba(0,0,0,.6);

  display:none;
  justify-content:center;
  align-items:center;

  z-index:9999;
}
